



h1  {
    font-size: 2em;
    font-family: "JetBrains Mono";
}
h2  {
    font-size: 2.2em;
    font-family: "JetBrains Mono";
    color: #1181B2;
}
h3  {
    font-size: 1.80em;
    font-family: "JetBrains Mono";
    color: #F9F871;
}

li {
    font-size: 1.20em;
}

p {
    font-family: "Noto Sans";
    font-size: 1.20em;
    color: white;
}

html {
    background: #212221;
}

/*lien*/
a {
    text-decoration: none;
    font-family: "JetBrains Mono";
    color: white;
}

a:hover {
    color: #1181B2;
}



/*Header*/

.barre_navigation {
    background: none;
    color: white;
}


footer {
    background: none;
    color: white;
    margin-top: 10em;
}
footer ul > a > h1 {
    margin-bottom: 0;
}
footer > nav {
    border-bottom: none;
    border-top: #1181B2 0.1em solid;
    margin-bottom: 5em;
}

footer > nav > ul {
    display: block;
}

.droite {
    text-align: end;
}
.gauche {
    margin-top: 0;
}


nav {
    max-height: 10vh;
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 2rem;
    border-bottom: #1181B2 0.1em solid;

}


nav > ul {
    display: flex;
    flex: 1 1 60rem;
    justify-content: space-around;
    list-style: none;
    color: white;
}



#logo {
    flex: 1 1 40rem;
}

/*bouton*/
.bouton {
    background: #F9F871;
    color: #212221;
    padding: 0.20em;
    border-radius: 0.10em;
    font-size: 0.5em;
}



.text > a:hover {
    color: #F9F871;
}

/*contenu*/
.contenu, .call_to_action {

    width: 60%;
    padding-top: 8em;
    margin: auto;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
}

.call_to_action > .text > h2 {
    color: #F9F871;
}

.text {
    width: 50%;

}

.text > p > a {
    color: #F9F871;
    font-family: "Noto Sans";
}

.text > p {
    margin-bottom: 2em;
}
.text > .bouton {
    background: #1181B2;
    padding: 1em;
}

.image {
    width: 50%;
    padding-left: 10em;


}
.image > .me {
    width: 100%;
    height: auto;
    clip-path: circle(40% at 50% 50%);
}

.image > img {
    width: 100%;
    height: auto;
    margin-top: 2em;
    border-radius: 2em;
    filter: drop-shadow(0.5em 0.5em 1em black);
}

.bouton_cta {
    width: 50%;
    padding-left: 15em;
    padding-top: 10em;
}

.bouton_cta > .bouton {
    padding: 1em;
    font-size: 1.300em;
}




.icone_svg {
    margin-left: 47%;
}

.active {
    color: #F9F871;
}
